// 변수
$메인컬러 : #9fa36c;
$서브컬러 : #a8976f;
$기본사이즈 : 20px;

.background {
    background: $메인컬러;
}

.card-background {
    background: $서브컬러;
}

// @extend
%btn {
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
}

.red-btn {
    @extend %btn;
    background-color: red;
}

.blue-btn {
    @extend %btn;
    background-color: blue;
}

.yellow-btn {
    @extend %btn;
    background-color: yellow;
}
