div {
    /* width가 padding, border포함하게 하기 */
    box-sizing: border-box;
}

body {
    margin: 0px;
    background: black;
}

.container {
    width: 100%;
    height: 100vh;

    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
}

.top-background {
    /* 사진 아래로 갈수록 검정색으로 흐리게 */
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 10%,
            rgba(0, 0, 0, 0) 25%,
            rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 0, 0, 0.5) 75%,
            rgba(0, 0, 0, 1) 100%),
            url(../background.jpg);

    width: 100%;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-container {
    display: flex;
    height: 25px;
    background: none;

    /* 세로 - 가운데 정렬 */
    align-items: center;
}

.nav-item {
    font-size: 15px;
    font-weight: 900;
    margin: 10px;
    margin-top: 30px;
    background-size: cover;
    background-repeat: no-repeat;
}

.top-textbox {
    width: 100%;
    max-width: 400px;
    margin: 20px;
    margin-top: 90px;
    color: white;
}

.top-button {
    width: 100px;
    font-size: 13px;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    /* 배경투명도 조절 */
    background-color: rgba(46, 46, 46, 0.5);
}

.top-button:hover {
    /* 마우스 올리면 불투명도 증가 */
    background-color: rgba(46, 46, 46, 0.8);
}

.text-position {
    position: relative;
    bottom: 0;
    
    margin-left: 20px;
    margin-bottom: 0;
}

.flex-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-item {
    margin: 10px;
}

.flex-item img {
    width: 120px;
    height: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.flex-item:hover img {
     /* 0.2는 0.2초 동안 이미지가 커지는 속도 */
    transition: all 0.2s linear;
    /* 1.2는 1.2배 만큼 이미지를 크게하라라는 의미 */
    transform: scale(1.15);
    /* 몇 초동안 커질껀지 */
    transition-duration: 0.3s;
}