.grid-container {
    display: grid;
    grid-gap: 5px;
    /* 세로칸 개수, 사이즈 */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* 가로칸 개수, 사이즈 */
    grid-template-rows: 100px 100px 100px;
    grid-template-areas: 
    "헤더 헤더 헤더 헤더"
    "사이드 내용 내용 내용"
    "사이드 내용 내용 내용";
}

.grid-container div {
    border: 1px solid black;
}

.grid-nav {
    grid-area: 헤더;
    /* 세로선 1-5까지 차지해주세요 
    grid-column: 1 / 5; */
}

.grid-sidebar {
    grid-area: 사이드;
    /* grid-row: 2 / 4; */
}

.grid-content {
    grid-area: 내용;
    /* grid-column: 2 / 5;
    grid-row: 2 / 4; */
}

@media screen and (max-width : 768px){

    .grid-container {
        grid-template-areas: 
        "헤더 헤더 헤더 헤더"
        "사이드 사이드 사이드 사이드"
        "내용 내용 내용 내용";
    }
    
}

.grid-container2 {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.grid-container2 div {
    border: 1px solid black;
}

.grid-container2 img {
    width: 100%;
    height: 100%;
}

.grid-big {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
